$menu-icon-color:#9d9d9d;

#navbar-toggle-button{
  border-color: grey;
}

.glyphicon{
  color: $menu-icon-color;
}

img {
  max-width: 100%;
}

.panel{
  overflow: hidden;
  cursor: pointer;
  .panel-heading{
    label{
      cursor: pointer;
    }
    cursor: pointer;
  }
  .news-image{
    cursor: pointer;
  }
  .panel-body{
    label{
      cursor: pointer;
    }
    cursor: pointer;
  }
}
#navbar-brand{
  color: $menu-icon-color;
}

.news-title{
  font-weight: bolder;
}

#modal-description{
  font-size: larger;
}

h2{
  text-align: center;
}

.story-body__introduction, .sp-story-body__introduction{
  font-weight: bold;
}