$menu-icon-color:#9d9d9d;

#navbar-toggle-button{
  border-color: grey;
}

.glyphicon{
  color: $menu-icon-color;
}

img {
  max-width: 100%;
}

body {
  padding-top: 60px;
}

.form-group{
  padding-right: 5px;
}

.panel{
  overflow: hidden;
  cursor: pointer;
  .panel-heading{
    label{
      cursor: pointer;
    }
    cursor: pointer;
  }
  .news-image{
    cursor: pointer;
  }
  .panel-body{
    label{
      cursor: pointer;
    }
    cursor: pointer;
  }
}

#navbar-brand{
  color: $menu-icon-color;
  margin: 0px;
}

.news-title{
  font-weight: bolder;
}

.glyphicon{
  padding: 5px;
  font-size: 20px;
}

#modal-description{
  font-size: larger;
}

h2{
  text-align: center;
  margin: 10px;
}

.story-body__introduction, .sp-story-body__introduction{
  font-weight: bold;
}