$menu-icon-color:#9d9d9d;

#navbar-toggle-button{
  border-color: grey;
}

.glyphicon{
  color: $menu-icon-color;
}

img {
  max-width: 100%;
}

.panel{
  overflow: hidden;
  cursor: pointer;
  img{
    cursor: pointer;
  }
  div{
    cursor: pointer;
  }
}

#modal-description{
  font-size: larger;
}

h3{
  margin: auto;
}